<p id="notice"><%= notice %></p>

<!-- h1名称の変更 -->
<h1>Listing users</h1>

<table>
  <tr>
    <!-- テーブルの基本構成の修正（th５個から４個へ -->
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <!-- テーブルの基本構成の修正（tdを作詞カラム５個から固有のものへ -->
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
