<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<p>
  <strong>Remove avatar:</strong>
  <%= @user.remove_avatar %>
</p>

<p>
  <strong>Avatar cache:</strong>
  <%= @user.avatar_cache %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
